<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>SSH Connection</h1>
  <form action="/connect" method="post">
    <label for="ipAddress">IP Address:</label>
    <input type="text" name="ipAddress" id="ipAddress" required><br>

    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br>

    <button type="submit">Connect</button>
  </form>

</html>